

.container, .container__navigation, .header{
	-webkit-transform: translateX(100%);
}
.container__accueil, .container__compte,.header{
	-webkit-transform: translateX(0);
}
.container__compte, .container__favoris, .container__billet{
	-webkit-transform: translateY(100%);
}


/* ANIM PAGE */
	@-webkit-keyframes moveToBottom {
		from { -webkit-transform: translateY(0); }
		to { -webkit-transform: translateY(100%); }
	}
	@keyframes moveToBottom {
		from { transform: translateY(0); }
		to { transform: translateY(100%); }
	}

	@-webkit-keyframes moveFromBottom {
		from { -webkit-transform: translateY(100%); }
		to { -webkit-transform: translateY(0); }
	}
	@keyframes moveFromBottom {
		from { transform: translateY(100%); }
		to { transform: translateY(0); }
	}


	@-webkit-keyframes moveFromRight {
		from { -webkit-transform: translateX(100%); }
		to { -webkit-transform: translateX(0); }
	}
	@keyframes moveFromRight {
		from { transform: translateX(100%); }
		to { transform: translateX(0); }
	}

	@-webkit-keyframes moveToLeft {
		from { -webkit-transform: translateX(0); }
		to { -webkit-transform: translateX(-100%); }
	}
	@keyframes moveToLeft {
		from { transform: translateX(0); }
		to { transform: translateX(-100%); }
	}

	@-webkit-keyframes moveFromLeft {
		from { -webkit-transform: translateX(-100%); }
		to { -webkit-transform: translateX(0); }
	}
	@keyframes moveFromLeft {
		from { transform: translateX(-100%); }
		to { transform: translateX(0); }
	}

	@-webkit-keyframes moveToRight {
		from { -webkit-transform: translateX(0); }
		to { -webkit-transform: translateX(100%); }
	}
	@keyframes moveToRight {
		from { transform: translateX(0); }
		to { transform: translateX(100%); }
	}

/* ANIM PREC */
	@-webkit-keyframes disparitionPrec {
		from { opacity: 1; }
		to { opacity: 0; }
	}
	@keyframes disparitionPrec {
		from { opacity: 1; }
		to { opacity: 0; }
	}

	@-webkit-keyframes apparitionPrec {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	@keyframes apparitionPrec {
		from { opacity: 0; }
		to { opacity: 1; }
	}



