

/*.container--paiement{
	-webkit-transform: translateX(200%);
}
.container--supp{
	-webkit-transform: translateX(200%);
}*/


@-webkit-keyframes moveFromRightToPay {
	from { -webkit-transform: translateX(200%); }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightToPay {
	from { transform: translateX(200%); }
	to { transform: translateX(100%); }
}

@-webkit-keyframes moveToRightToPay {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(200%); }
}
@keyframes moveToRightToPay {
	from { transform: translateX(100%); }
	to { transform: translateX(200%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}


@-webkit-keyframes moveFromBottomSupp {
	from { -webkit-transform: translateY(310px); }
	to { -webkit-transform: translateY(0); }
}
@-webkit-keyframes moveToBottomSupp {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(310px); }
}

@-webkit-keyframes apparitionSuiv {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes disparitionSuiv {
	from { opacity: 1; }
	to { opacity: 0; }
}



/*MORGANE ANIMATION DES PAGES*/
.container{
	position: fixed;
	-webkit-transform: translateX(100%);
}

.container--accueil{
	-webkit-transform: translateX(0);
	z-index: 10000;
}
.container--paiement, .container--reduc{-webkit-transform: translateX(200%);}
.liste--supp{-webkit-transform: translateY(310px);}


.footer{
	position: fixed;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	-webkit-transform: translateX(100%);
}


/* BILLET */
/* dessus -> milieu */
@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}
@keyframes moveFromTop {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}

/* milieu -> dessous */
@-webkit-keyframes moveToBottom {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { transform: translateY(0); }
	to { transform: translateY(100%); }
}

/* EXCU */
/* dessous -> milieu */
@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}
@keyframes moveFromBottom {
	from { transform: translateY(100%); }
	to { transform: translateY(0); }
}
/* milieu -> droite */
@-webkit-keyframes moveToTop {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { transform: translateY(0); }
	to { transform: translateY(-100%); }
}




/* ABONNEMENT */
/* droite -> milieu */
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}

@-webkit-keyframes moveFromRightMiddle {
	from { -webkit-transform: translateX(200%); }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightMiddle {
	from { transform: translateX(200%); }
	to { transform: translateX(100%); }
}
/* milieu -> gauche */
@-webkit-keyframes moveToLeft {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { transform: translateX(0); }
	to { transform: translateX(-100%); }
}

/* PASS */
/* gauche -> milieu */
@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}
/* milieu -> droite */
@-webkit-keyframes moveToRight {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}



/* Anim carte mobib */
#pop {
	-webkit-animation: popanim ease 3s infinite;
	-webkit-transform-origin: 50%;
	
	-moz-animation: popanim ease 3s infinite;
	-moz-transform-origin: 50%;

	-o-animation: popanim ease 3s infinite;
	-o-transform-origin: 50%;

	animation: popanim ease 3s infinite;
	transform-origin: 50%;

}

@-webkit-keyframes popanim {
	0% {
		-webkit-transform:  scale(0) ;
		-moz-transform:  scale(0) ;
		-o-transform:  scale(0) ;
		transform:  scale(0) ;
		opacity: 0;
	}
  
  10% {
	  opacity: 0;
  }
  
  20% {
	  opacity: 1;
	  fill: red;
  }

  25% {
    -webkit-transform:  scale(1.2) ;
    transform:  scale(1.2) ;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

  
}

#carte-contenu, #carte-contour {
	-webkit-animation: carteanim ease 3s infinite;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin: 50%;
	
	-moz-animation: carteanim ease 3s infinite;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin: 50%;

	-o-animation: carteanim ease 3s infinite;
	-o-animation-fill-mode:forwards;
	-o-transform-origin: 50%;

	animation: carteanim ease 3s infinite;
	animation-fill-mode:forwards;
	transform-origin: 50%;

}

@-webkit-keyframes carteanim {

	0% {
		-webkit-transform:  scale(1) ;
		-moz-transform:  scale(1) ;
		-o-transform:  scale(1) ;
		transform:  scale(1) ;
	}

	70% {
		-webkit-transform:  scale(1.05) ;
		-moz-transform:  scale(1.05) ;
		-o-transform:  scale(1.05) ;
		transform:  scale(1.05) ;
	}

  
  100% {
    -webkit-transform:  scale(1) ;
    -moz-transform:  scale(1) ;
    -o-transform:  scale(1) ;
    transform:  scale(1) ;
  }
  
}

#fleches {
	-webkit-animation: flechesanim ease 1.5s infinite;
	-webkit-transform-origin: 50%;
	
	-moz-animation: flechesanim ease 1.5s infinite;
	-moz-transform-origin: 50%;

	-o-animation: flechesanim ease 1.5s infinite;
	-o-transform-origin: 50%;

	animation: flechesanim ease 1.5s infinite;
	transform-origin: 50%;

}

@-webkit-keyframes flechesanim {

	0% {
		-webkit-transform:  translateY(0) ;
		-moz-transform:  translateY(0) ;
		-o-transform:  translateY(0) ;
		transform:  translateY(0) ;
	}

	70% {
		-webkit-transform:  translateY(40px) ;
		-moz-transform:  translateY(40px) ;
		-o-transform:  translateY(40px) ;
		transform:  translateY(40px) ;
	}

}


moveFromRightMiddle



